name: Build and Publish

on:
  release:
    types: [created]

permissions:
  contents: read
  id-token: write

jobs:
  build-and-publish:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install libffi (Build for 13.3+ & arm64)
        run: brew fetch --bottle-tag=arm64_ventura libffi

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build

      - name: Test
        run: bun test

      - name: Prebuild arm64 architecture
        run: bun run prebuild:arm64

      - name: Install libffi (Build for 13.3+ & x64)
        run: brew fetch --bottle-tag=ventura libffi

      - name: Prebuild x64 architecture
        run: bun run prebuild:x64

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - name: Publish to npm
        run: npm publish
